body{
  background-color: #006699;
  margin: 0;
  padding: 0;
}
.lluna{
  width: 200px;
  height: 200px;
  background-color: #006699;
  border-radius: 100px;
  box-shadow: inset 50px 0px 0 gold;
}
.nuvol {
  width: 200px;
  height: 150px;
  background-color: #FFF;
  border-radius: 180px 150px 180px 150px;
  position: relative;
  left: 150px;
}
.nuvol::after{
  content: " ";
  background-color: #FFF;
  padding: 50px 70px;
  border-radius: 180px 150px 180px 150px;
  position: relative;
  left: 130px;
  margin-top: 30px;
}
.nuvol::before{
  content: " ";
  background-color: #FFF;
  padding: 50px 70px;
  border-radius: 100px;
  position: relative;
  left: 1400px;
  margin-top: 90px;
}
.nuvol1::after{
  content: " ";
  background-color: #FFF;
  padding: 50px 70px;
  border-radius: 100px;
  position: relative;
  left: 130px;
  margin-top: 30px;
}
.nuvol1::before{
  content: " ";
  background-color: #FFF;
  padding: 50px 70px;
  border-radius: 100px;
  position: relative;
  left: 1200px;
  margin-top: 90px;
}
.flor{
position: relative;
left: 200px;
animation-name: flor;
animation-duration: 5s;
animation-timing-function: ease;
animation-iteration-count: 2;
}
@@keyframes flor{
from{
transform: rotate(0deg);
transform-origin: 200;
}
to{
  transform: rotate(360deg);
  transform-origin: 150px 0;
 }
}
.petal{
  width: 100px;
  height: 100px;
  background-color: #FF3;
  border-radius: 100px 0 100px 0;
}
.centre{
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 25px;
  position: relative;
  top: -525px;
  left: -25px;
  }
.p2{
  transform: translateY(-100px) rotate(60deg);
  transform-origin: 0 100px;
}
.p3{
  transform: translateY(-200px) rotate(120deg);
  transform-origin: 0 100px;
}
.p4{
  transform: translateY(-300px) rotate(180deg);
  transform-origin: 0 100px;
}
.p6{
  transform: translateY(-400px) rotate(240deg);
  transform-origin: 0 100px;
}
