#primer {
  background-color: lightcyan;
  margin: 0px 0px 50px 0px
}
#segon {
  background-color: orangered;
  margin: 50px 1500px 200px 20px;
}
#tercer {
  background-color: green;
  border: solid 5px;
  border-color: black;
  margin: 0 20px 300px 1500px;
}
#quart {
  border: solid 5px;
  border-color: black;
}

#ultim {
  border: solid 5px;
  border-color: black;
  background-color: yellow;
  margin: 0px -50px 0px 0px;
}
