
.principal{
background-color: #00FA9A;
width: 25%;
float: left;
font-family: helvetica;
margin: 5px;
height: 25%;
}
.primer{
  height: 400px;
  width: 400px;
}
#primer img{
  width: 400px;
  height: 400px;
}
.segon{
  height: 100px;
  width: 100px;
  float: left;
}
.segon img{
  height: 80px;
  width: 80px;
  border-radius: 50px;
}
.tercer{
  height: 50px;
  width: 300px;
}
.quart{
  height: 50px;
  width: 300px;
}
.cinque{
  height: 400px;
  width: 400px;
}
.sise{
  height: 50px;
  width: 50px;
}
.sete{
  height: 50px;
  width: 400px;
}
#contenidor{
  width: 1680px;
  margin: 0 auto;
}
